@charset "ISO-8859-1";
body{
	background-color: #002845

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#Welcome{

	font-size:  15px;
	color: #ffffff
}

.flex_container{
	 display: flex;
	 justify-content: center;
	
}

#problem{
	font-size:  30px;
	color: #FF0000

}

#answer{
	font-size:  30px;
	color: #00ff40
}

#tech{
	font-size:  15px;
	font-weight: bold;
	color: #ff8000
}
.tech_container{
	display: flex;
	 justify-content: flex-start;
	
}

#stake{
	font-size:  15px;
	font-weight: bold;
	color: #ffffff
	
}

.stake_container{
	 display: flex;
	 justify-content: flex-end;
}